.login-background {
    width: 70%;
    min-width: 700px;
    height: 80vh;
    min-height: 600px;
    background-image: url(../../public/img/map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    border: 1px solid black;
    margin: auto;
    box-shadow: 10px 10px;
}
.login-signup-form {
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(1.5px);
}
.login-signup-form input:focus {
    outline: none; 
}
.link-login {
    font-weight: 900;
    color: #8E7AB5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}