.container {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}
.eachPost {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titlePost {
    width: 40%;
    height: 305px;
    /* margin: auto auto auto 5px; */
    padding: 0;
    color: var(--light-orange);
}
.date {
    font-size: 30px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0;
}
.place {
    width: 40%;
    height: 50px;
    font-size: 50px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 0;
}
.story {
    width: 100%;
    height: 205px;
    margin-top: 5px;
    text-align: left;
    font-weight: 100;
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}