.SinglePost {
    width: 100%;
}
.singlepost-container {
    width: 70%;
    min-width: 700px;
    height: fit-content;
    min-height: 600px;
    /* background-image: url(../../public/img/letterinbottle.png); */
    background-color: #D3D3D3 ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    border: 1px solid black;
    margin: auto auto 50px auto;
    box-shadow: 10px 10px;
}
.singlepost-contents {
    width: 60%;
    min-width: 600px;
    /* background-color: rgba(0, 0, 0, 0.304); */
    margin: auto auto 50px auto;
    text-align: center;
    color: #000;
}
.singlepost-place {
    font-size: 50px;
    padding-top: 20px;
}