@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700;900&display=swap');
:root {
  --light-orange: #FF9800;
  --background-color: #272829;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: var(--background-color);
  height: 100%; 

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

}
